@import '../../styles/colors';

@mixin total-height{
  height: 100vh;
}

.login-container  {
  @include total-height();

  background: url('../../assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.login-content{
  max-width: 50%;
  @include total-height();

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  margin-left: 15rem;

  h1 {
    color: $white;

    margin-bottom: 3.125rem;
    font-size: 3rem;

    font-weight: 300;

    strong {
      font-weight: 600;
    }
  }

  form {
    display: flex;
    flex-direction: column;
  }
}

.error-container {
  margin-top: 20rem;

  position: absolute;

  width: 22.5rem;

  span {
    background: $opacity-40-white;
    padding: 8px;
    border-radius: 4px;
    font-weight: 500;
    color: $white;

    &::before {
      content: '';
      border-style: solid;
      border-color: $opacity-40-white transparent;
      border-width: 0px 6px 6px 6px;
      top: -75%;
      position: absolute;
      transform: translateX(-50%);
    }
  }
}
