@import 'colors';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, textarea, select, button {
  font: 1rem "Heebo", sans-serif;
  color: $light-gray;
}

button {
  cursor: pointer;
}
